# Flutter/Dart ignores
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Python ignores
__pycache__/
*.ipynb
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
util/

# Flask environment files
instance/
.env

# Heroku files
*.log